body{font-family: "Source Sans Pro",Arial;font-size: 20px;color: #2d2d2d;}

.header {
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fafafa;}


.magazine-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 20px;
    font-size: .9375rem;
    padding: 0 1rem 0 1.35rem;
    height: 40px;
    background-color: #f2f2f2;
    width: 100%;
}

.magazine-bar__social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

h2{color: #ff7000;text-transform: uppercase;font-weight: 600;font-size: 36px;}
p{color: #949393;}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ff7000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

